* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 23, 105);;
}

.container {
    padding: 1% 1% 5% 1%;
    margin: 0% 0% 5% 0%;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.nav {
    height: 80px;
    color: white;
    background-color: rgb(23, 23, 105);
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-title {
    margin-left: 20px;
}

.nav-links {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav a {
    color: white;
    text-decoration:none;
}

span {
    color: rgb(38, 121, 216);
    font-size: 110%;
}

.container-2 {
    height: 1000px;   
    width: 98%;
    display: inline-block;
    background-color: white;
    margin: 0px auto;
    padding: 20px;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.main {
    height: 450px;
    width: 705px;
    display: inline-block; 
    margin: 2%;
    align-items: left;
    justify-content: flex-start;
    padding-top: 1%;
}

.row {
    display: flex;
}

h1, p {
    color: white;
}

.icon-s {
    height: 25px;
}

.btn {
    background-color: rgb(47, 117, 184);
    color: white;
    border-radius: 5px;
    border: 10px 50px;
    padding: 5px 30px;
}

img {
    height: 100%;
}

h2 {
    color:rgb(0, 63, 122);
}

.col {
    color: white;
    padding: 10px;
    flex: 1;
    background-color: rgb(18, 107, 190);
    vertical-align: top;
    margin: 1.5%;
    text-align: center;
}

.top-nav {
    height: 150px;
    width: 925px;
    display: inline-block;
    padding: 2%;
    margin: 2%;
    justify-items: flex-end;
}

